# Notion Integration Secret
NOTION_KEY=

# Notion Databases
CLIPS_DB_ID=
INSPIRATION_DB_ID=
LESSONS_DB_ID=
OUTREACH_DB_ID=
PROJECTS_DB_ID=
REPLY_RATE_DB_ID=
SCREENING_DB_ID=
SOURCE_DB_ID=
X_SCRAPER_DB=

# Anthropic API Key
ANTHROPIC_KEY=

# YouTube Data API Keys
YT_API_KEY_1=
YT_API_KEY_2=
YT_API_KEY_3=

# GitHub Personal Access Token
GH_PAT=

# Twitter/X Session Cookies
X_COOKIES=

# Skool Session Cookies
SKOOL_COOKIES=

# ngrok Auth Token
NGROK_TOKEN=
