---
import '../styles/global.css';
import SvgIcons from '../components/SvgIcons.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>mjavfx Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="color-scheme" content="light only" />
    <meta name="description" content="Mjav's Video Editing Portfolio" />
    <meta property="og:site_name" content="mjavfx Portfolio" />
    <meta property="og:title" content="mjavfx Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Mjav's Video Editing Portfolio" />
    <link rel="canonical" href="https://mvsstudios.netlify.app" />
    <link href="https://fonts.googleapis.com/css2?display=swap&family=Sora:ital,wght@0,800;1,800" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <SvgIcons />
    <slot />
    <script src="/scripts/main.js" is:inline></script>
  </body>
</html>
