<section class="work" id="work">

  <!-- Work 1: video left, text right -->
  <div class="work__section">
    <div class="work__video-col">
      <iframe
        src="https://www.youtube.com/embed/HEa9vzq4g9E"
        title="Work Video 1"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        loading="lazy"
      ></iframe>
    </div>
    <div class="work__text-col">
      <h2 class="work__callout js-fade">Avatar 1<br/><span class="work__sub">200k Subscribers</span></h2>
    </div>
  </div>

  <!-- Work 2: text left, video right -->
  <div class="work__section work__section--reverse">
    <div class="work__video-col">
      <iframe
        src="https://www.youtube.com/embed/_P64RnHuQEg"
        title="Work Video 2"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        loading="lazy"
      ></iframe>
    </div>
    <div class="work__text-col">
      <h2 class="work__callout js-fade">Avatar 2<br/><span class="work__sub">200k Subscribers</span></h2>
    </div>
  </div>

  <!-- Work 3: video left, text right -->
  <div class="work__section">
    <div class="work__video-col">
      <iframe
        src="https://www.youtube.com/embed/-v09L5ENA98"
        title="Work Video 3"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        loading="lazy"
      ></iframe>
    </div>
    <div class="work__text-col">
      <h2 class="work__callout js-fade">Avatar 3<br/><span class="work__sub">200k Subscribers</span></h2>
    </div>
  </div>

</section>
