---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Logo from '../components/Logo.astro';
import HeroSection from '../components/HeroSection.astro';
import CTAButton from '../components/CTAButton.astro';
import FeaturedSection from '../components/FeaturedSection.astro';
import WorkSection1 from '../components/WorkSection1.astro';
import WorkSection2 from '../components/WorkSection2.astro';
import WorkSection3 from '../components/WorkSection3.astro';
import Divider from '../components/Divider.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <div class="site-wrapper">
    <div class="site-main">
      <div class="inner">
        <Nav />
        <Logo />
        <HeroSection />
        <CTAButton />
        <FeaturedSection />
        <WorkSection1 />
        <WorkSection2 />
        <WorkSection3 />
        <Divider />
        <Footer />
      </div>
    </div>
  </div>
</Layout>
