---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import HeroSection from '../components/HeroSection.astro';
import CTAButton from '../components/CTAButton.astro';
import FeaturedSection from '../components/FeaturedSection.astro';
import WorkSection1 from '../components/WorkSection1.astro';
import WorkSection2 from '../components/WorkSection2.astro';
import WorkSection3 from '../components/WorkSection3.astro';
import Divider from '../components/Divider.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <div class="site-wrapper">
    <div class="site-main">
      <div class="inner">
        <Logo />
        <HeroSection />
        <CTAButton />
        <FeaturedSection />
        <div id="container03" class="container-component instance-3 default full screen">
          <div class="wrapper"><div class="inner"></div></div>
        </div>
        <div id="container08" class="container-component instance-8 default full screen">
          <div class="wrapper">
            <div class="inner">
              <ul id="icons02" class="icons-component instance-2">
                <li>
                  <a class="n01" href="#" role="button">
                    <svg aria-labelledby="icons02-icon-1-title">
                      <title id="icons02-icon-1-title">Email</title>
                      <use xlink:href="#icon-c3c8e1063e3b7f84f6b54712741de139"></use>
                    </svg>
                    <span class="label">Email</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <WorkSection1 />
        <WorkSection2 />
        <WorkSection3 />
        <Divider />
        <Footer />
      </div>
    </div>
  </div>
</Layout>
