<section id="featured">
  <div id="container01" class="container-component instance-1 columns full screen">
    <div class="wrapper">
      <div class="inner">
        <div>
          <div class="placeholder-text-block">
            <p class="mollen-text">Template</p>
          </div>
        </div>
        <div>
          <div id="video01" class="video-component instance-1">
            <div class="frame">
              <iframe class="player" title="Featured video" src="https://www.youtube.com/embed/1QpALIrmZog?rel=0&amp;loop=0&amp;controls=1&amp;cc_load_policy=0&amp;autoplay=0" allowfullscreen="1" referrerpolicy="strict-origin-when-cross-origin"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
