<div id="container04" class="container-component instance-4 default full screen">
  <div class="wrapper">
    <div class="inner">
      <div id="image01" class="image-component instance-1" data-position="center">
        <span class="frame">
          <img src="assets/images/image01.png?v=0135dc53" alt="" title="Internet Anarchist" />
        </span>
      </div>
      <ul id="icons01" class="icons-component instance-1">
        <li>
          <a class="n01" href="#" role="button">
            <svg aria-labelledby="icons01-icon-1-title">
              <title id="icons01-icon-1-title">Email</title>
              <use xlink:href="#icon-c3c8e1063e3b7f84f6b54712741de139"></use>
            </svg>
            <span class="label">Email</span>
          </a>
        </li>
        <li>
          <a class="n02" href="#" role="button">
            <svg aria-labelledby="icons01-icon-2-title">
              <title id="icons01-icon-2-title">Discord</title>
              <use xlink:href="#icon-3b7eeeccbb457780f277fce4669f67a0"></use>
            </svg>
            <span class="label">Discord</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
