<section id="hero">
  <div id="container07" class="container-component instance-7 columns full screen">
    <div class="wrapper">
      <div class="inner">
        <div>
          <div class="hero-template-block">
            <p class="mollen-text">Template</p>
          </div>
        </div>
        <div>
          <div id="video02" class="video-component instance-2">
            <div class="frame">
              <iframe class="player" title="Featured video" src="https://www.youtube.com/embed/l0zt-BG8UcE?rel=0&amp;loop=0&amp;controls=1&amp;cc_load_policy=0&amp;autoplay=0" allowfullscreen="1" referrerpolicy="strict-origin-when-cross-origin"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
