<section id="hero">
  <div id="container07" class="container-component instance-7 columns full screen">
    <div class="wrapper">
      <div class="inner">
        <div>
          <div id="image02" class="image-component instance-2 full" data-position="bottom right">
            <span class="frame">
              <img src="assets/images/image02.svg?v=0135dc53" alt="mjavfx profile" title="mjavfx" />
            </span>
          </div>
        </div>
        <div>
          <div id="video02" class="video-component instance-2">
            <div class="frame">
              <iframe class="player" title="Featured video" src="https://www.youtube.com/embed/l0zt-BG8UcE?rel=0&amp;loop=0&amp;controls=1&amp;cc_load_policy=0&amp;autoplay=0" allowfullscreen="1" referrerpolicy="strict-origin-when-cross-origin"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
