<div id="container02" class="container-component instance-2 columns full screen">
  <div class="wrapper">
    <div class="inner">
      <div>
        <div id="image06" class="image-component instance-6" data-position="center">
          <span class="frame">
            <img src="assets/images/image06.svg?v=0135dc53" alt="" title="Internet Anarchist" />
          </span>
        </div>
      </div>
      <div>
        <div id="video06" class="video-component instance-6">
          <div class="frame">
            <iframe class="player" title="Documentary" src="https://www.youtube.com/embed/1QpALIrmZog?rel=0&amp;loop=0&amp;controls=1&amp;cc_load_policy=0&amp;autoplay=0" allowfullscreen="1" referrerpolicy="strict-origin-when-cross-origin"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
