<section id="work">
  <div id="container06" class="container-component instance-6 columns full screen">
    <div class="wrapper">
      <div class="inner">
        <div>
          <div id="video03" class="video-component instance-3">
            <div class="frame">
              <iframe class="player" title="Work video 1" src="https://www.youtube.com/embed/k0Qf2zBvxgk?rel=0&amp;loop=0&amp;controls=1&amp;cc_load_policy=0&amp;autoplay=0" allowfullscreen="1" referrerpolicy="strict-origin-when-cross-origin"></iframe>
            </div>
          </div>
        </div>
        <div>
          <div class="placeholder-text-block">
            <p class="mollen-text">Template</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
