<div id="container05" class="container-component instance-5 columns full screen">
  <div class="wrapper">
    <div class="inner">
      <div>
        <div id="video05" class="video-component instance-5">
          <div class="frame">
            <iframe class="player" title="Documentary" src="https://www.youtube.com/embed/q_d_qGj_v8E?rel=0&amp;loop=0&amp;controls=1&amp;cc_load_policy=0&amp;autoplay=0" allowfullscreen="1" referrerpolicy="strict-origin-when-cross-origin"></iframe>
          </div>
        </div>
      </div>
      <div>
        <div id="image07" class="image-component instance-7" data-position="center">
          <span class="frame">
            <img src="assets/images/image07.svg?v=0135dc53" alt="" title="Internet Anarchist" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
