<div id="container05" class="container-component instance-5 columns full screen">
  <div class="wrapper">
    <div class="inner">
      <div>
        <div id="video05" class="video-component instance-5">
          <div class="frame">
            <iframe class="player" title="Work video 3" src="https://www.youtube.com/embed/q_d_qGj_v8E?rel=0&amp;loop=0&amp;controls=1&amp;cc_load_policy=0&amp;autoplay=0" allowfullscreen="1" referrerpolicy="strict-origin-when-cross-origin"></iframe>
          </div>
        </div>
      </div>
      <div>
        <div class="placeholder-text-block">
          <p class="mollen-text">Template</p>
        </div>
      </div>
    </div>
  </div>
</div>
