---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Creators from '../components/Creators.astro';
import Video1 from '../components/Video 1.astro';
import Video2 from '../components/Video 2.astro';
import Video3 from '../components/Video 3.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navigation />
  <main>
    <Hero />
    <Creators />
    <Video1 />
    <Video2 />
    <Video3 />
  </main>
  <Footer />
</Layout>
