---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import AvatarCarousel from '../components/AvatarCarousel.astro';
import WorkSection from '../components/WorkSection.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout>
  <Navigation />
  <main>
    <Hero />
    <AvatarCarousel />
    <WorkSection />
    <ContactSection />
  </main>
</Layout>
