---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Creators from '../components/Creators.astro';
import Video1 from '../components/Video 1.astro';
---

<Layout>
  <Navigation />
  <main>
    <Hero />
    <Creators />
    <Video1 />
  </main>
</Layout>
